.content{
    position: relative;
    margin: 0 auto;
    width: 375px;
    background-color: #26160f;
}

.banner_wrap{
    height:100px;
    padding:20px;
    color:#fff;
    background-color: #ff4d15;
}

footer{
    height:200px;
    padding:20px;
    color:#fff;
}

.money{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.hand_wrap{
    position: absolute;
}

.hand_wrap > div{
    display: inline-block;
    /*position: absolute;*/
}

.hand_wrap .hand_right{

}

.hand_wrap .hand_right{

}