.content{
    display: flex;
    height:100vh;
    flex-direction: column;
}
.content > a{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color:#fff;
}