.content{
    position: relative;
    margin: 0 auto;
    width: 100%;
    background: #26160f url("/images/bg.png") top/cover no-repeat fixed;
}

@media all and (min-width: 376px) {
    .content{
        max-width: 375px;
    }
}

.bg_wrap{
    width: 100%;
    height: 781px;
}

.banner_wrap{
    height: 100px;
    padding: 20px;
    color: #f9d648;
    background-color: #ff4d15;
}

footer{
    height: 200px;
    padding: 20px;
    color: #f9d648;
    background-color: #26160f;
}

.txt{
    position: absolute;
}

.txt_1{
    width: 179px;
    top: 83px;
    left: 96px;
    animation: textNeon 3s linear infinite;
    -webkit-animation: textNeon 3s linear infinite;
}

.txt_2{
    width: 215px;
    top: 65px;
    left: 77px;
    animation: textNeon 3s linear infinite;
    -webkit-animation: textNeon 3s linear infinite;
}

@keyframes textNeon {
    50%, 70% { opacity: 1 }
    60% { opacity: .8 }
}

@-webkit-keyframes textNeon {
    50%, 70% { opacity: 1 }
    60% { opacity: .8 }
}

.txt_3{
    width: 215px;
    top: 120px;
    left: 82px;
    opacity: .8;
    animation: textNeon2 3s linear infinite;
    -webkit-animation: textNeon2 3s linear infinite;
}

@keyframes textNeon2 {
    20%, 50% { opacity: .5 }
    35% { opacity: 1 }
    65% { opacity: .8 }
}

@-webkit-keyframes textNeon2 {
    20%, 50% { opacity: .5 }
    35% { opacity: 1 }
    65% { opacity: .8 }
}

.txt_4{
    width: 50px;
    top: 130px;
    left: 132px;
    background: url("/images/txt_4.png") top/contain no-repeat;
    animation: textNeon3 3s linear infinite;
    -webkit-animation: textNeon3 3s linear infinite;
}

@keyframes textNeon3 {
    78%, 84%, 90% { opacity: 1 }
    81%, 87% { opacity: .5 }
}

@-webkit-keyframes textNeon3 {
    78%, 84%, 90% { opacity: 1 }
    81%, 87% { opacity: .5 }
}

.txt_5{
    width: 318px;
    top: 70px;
    left: 30px;
}

.money{
    position: absolute;
    top: 227px;
    left: 41px;
    width: 305px;
    animation: moneyMove .8s linear infinite;
    -webkit-animation: moneyMove .8s linear infinite;
}

@keyframes moneyMove {
    10% { transform: translateY(-2px) }
}

@-webkit-keyframes moneyMove {
    10% { transform: translateY(-2px) }
}

.hand_wrap > div{
    position: absolute;
}

.hand_wrap .total_money{
    width: 118px;
    top: 359px;
    left: 125px;
    animation: moneyScale .8s cubic-bezier(0, 1, 1, 1) infinite;
    -webkit-animation: moneyScale .8s cubic-bezier(0, 1, 1, 1) infinite;
}

@keyframes moneyScale {
    10% { transform: scale(1.1) }
}

@-webkit-keyframes moneyScale {
    10% { transform: scale(1.1) }
}

.hand_wrap .hand_right{
    width: 50px;
    top: 374px;
    left: 75px;
    transform-origin: 0 100%;
    animation: handRightRotate .8s cubic-bezier(0, 1, 1, 1) infinite;
    -webkit-animation: handRightRotate .8s cubic-bezier(0, 1, 1, 1) infinite;
}

@keyframes handRightRotate {
    10% { transform: rotate(-20deg) }
}

@-webkit-keyframes handRightRotate {
    10% { transform: rotate(-20deg) }
}

.hand_wrap .hand_left{
    width: 52px;
    top: 357px;
    left: 251px;
    transform-origin: 100% 100%;
    animation: handLeftRotate .8s cubic-bezier(0, 1, 1, 1) infinite;
    -webkit-animation: handLeftRotate .8s cubic-bezier(0, 1, 1, 1) infinite;
}

@keyframes handLeftRotate {
    10% { transform: rotate(20deg) }
}

@-webkit-keyframes handLeftRotate {
    10% { transform: rotate(20deg) }
}

.coin{
    position: absolute;
}

.coin_1{
    width: 48px;
    left: 0;
    top: 121px;
}

.coin_2{
    width: 22px;
    left: 0;
    top: 308px;
}

.coin_3{
    width: 39px;
    left: 65px;
    top: 238px;
}

.coin_4{
    width: 60px;
    right: 2px;
    top: 173px;
}

.coin_5{
    width: 32px;
    right: 37px;
    top: 221px;
}

.coin_6{
    width: 57px;
    right: 0;
    top: 319px;
}

.sns_wrap{
    position: absolute;
    width: 347px;
    left: 14px;
    top: 583px;
    opacity: 0;
}

.blank{
    animation: snsBlank 3s linear;
    opacity: 1;
}

@keyframes snsBlank {
    0%, 50% { opacity: 0 }
    54%, 60% { opacity: .5 }
    51%, 57%, 63%, 100% { opacity: 1 }
}

.button_wrap{
    position: fixed;
    width: 367px;
    left:calc(50% + 4px);
    transform: translateX(-50%);
    bottom: 0;
}

.popup_wrap{
    display: none;
}

.popup{
    position: fixed;
    width: 100%;
    top:0;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
}

.popup > div{
    flex:1;
    width:100%;
}

.popup_top{
    background: url("/images/popup_top.png") bottom/cover no-repeat;
}

.popup_bottom{
    background: url("/images/popup_bottom.png") top/cover no-repeat;
}

.btn_close{
    position: absolute;
    right:0;
    top:0;
    width: 100px;
    height :100px;
    background: red;
    opacity: 0;
}

.bounce {
    display: block;

}

.bounce .bg-color{
    animation: bgColorChange .3s ease-in;
    -webkit-animation: bgColorChange .3s ease-in;
}

@keyframes bgColorChange {
    from { background-color: #666 }
}

@-webkit-keyframes bgColorChange {
    from { background-color: #666 }
}

.bounce .bounce-top{
    animation: bounceTop .5s ease-in;
    -webkit-animation: bounceTop .5s ease-in;
}

@keyframes bounceTop {
    0% { transform: translateY(80px) }
    20%, 60%, 100% { transform: translateY(0) }
    40% { transform: translateY(30px) }
    80% { transform: translateY(10px) }
}
@-webkit-keyframes bounceTop {
    0% { transform: translateY(80px) }
    20%, 60%, 100% { transform: translateY(0) }
    40% { transform: translateY(30px) }
    80% { transform: translateY(10px) }
}

.bounce .bounce-bottom{
    animation: bounceBottom .5s ease-in;
    -webkit-animation: bounceBottom .5s ease-in;
}

@keyframes bounceBottom {
    0% { transform: translateY(-80px) }
    20%, 60%, 100% { transform: translateY(0) }
    40% { transform: translateY(-30px) }
    80% { transform: translateY(-10px) }
}
@-webkit-keyframes bounceBottom {
    0% { transform: translateY(-80px) }
    20%, 60%, 100% { transform: translateY(0) }
    40% { transform: translateY(-30px) }
    80% { transform: translateY(-10px) }
}